nav .start-home,
a:nth-child(4):hover ~ .animation {
  width: 105px;
  left: 345px;
  background-color: #4bca6b;
}

.tex1 {
  margin-left: 10%;
  margin-right: 5%;
  margin-top: 50px;
  background: #c6cad4;
  text-align: center;
  border-radius: 20px;
  box-sizing: border-box;

  float: left;
  /* margin-top: 25px; */

  width: 35%;

  height: 183px;
  /* background: #f7f7f7; */

  text-align: left;
  padding: 7px;
}

.name {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  color: #5d7ada;
  box-sizing: border-box;
  padding-top: 7px;
  padding-bottom: 17px;
  transition: 0.5s;
}

.in {
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding-bottom: 9px;
}

.jashid {
  height: 169px;
  transition: 0.5s;
  border-radius: 20px;
  text-align: center;
}

.jashid:hover {
  height: 169px;
  border-radius: 20px;
  background: #72859e;
  color: white;
}

.jashid:hover > .name {
  color: #5fdf7f;
}

body {
  min-width: 1000px; /* Suppose you want minimum width of 1000px */
  width: auto !important; /* Firefox will set width as auto */
  width: 1000px;
}
