* {
  padding: 0px;
  border: 0px;
  margin: 0px;
}
.img1 {
  vertical-align: middle;
}
.logo {
  font-size: 25px;

  font-family: "Times New Roman", Times, serif;
  display: inline-block;
  z-index: -1;
  float: left;
  padding-top: 12px;
  padding-bottom: 12px;
  height: 40px;
  color: white;
  z-index: 1;

  color: white;

  position: relative;

  margin-left: 10px;
  min-width: 150px;
  transition: opacity 0.3s;
}
nav {
  position: absolute;
  width: 450px;
  height: 40px;
  margin-top: 12px;
  left: calc(50% - 225px);
  display: flex;
  vertical-align: center;
  background-color: #39424e;
  border-radius: 8px;
}
nav a {
  line-height: 40px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;

  text-align: center;
  color: white;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all 0.5s ease 0s;
  border-radius: 8px;
}
a:nth-child(1) {
  width: 100px;
}
a:nth-child(2) {
  width: 130px;
}
a:nth-child(3) {
  width: 115px;
}
a:nth-child(4) {
  width: 105px;
}

nav .start-home,
a:nth-child(1):hover ~ .animation {
  width: 100px;
  left: 0;
  background-color: #9863ee;
}
nav .start-about,
a:nth-child(2):hover ~ .animation {
  width: 130px;
  left: 100px;
  background-color: #e74c3c;
}
nav .start-blog,
a:nth-child(3):hover ~ .animation {
  width: 115px;
  left: 230px;
  background-color: #3498db;
}
nav .start-portefolio,
a:nth-child(4):hover ~ .animation {
  width: 105px;
  left: 345px;
  background-color: #4bca6b;
}

body {
  font-size: 12px;
  font-family: sans-serif;
  background: #39424e;
}

.red {
  background: white;
}
.navi {
  height: 64px;
}

@media screen and (max-width: 850px) {
  .logo {
    opacity: 0;
  }
}
