.nameo {
  font-family: "Times New Roman", Times, serif;
  font-size: 22px;
  color: white;
  text-align: center;
  margin-top: 15px;
  overflow: hidden;
}
.logout {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 80px;
  text-align: center;
  border-radius: 10px;
  margin-left: calc(50% - 40px);
  margin-top: 80px;
  cursor: pointer;
}
.logout:hover {
  background: #cccccc;
}
.photo {
  margin-top: 15px;

  cursor: pointer;
  z-index: 1;
  position: absolute;
  right: 30px;
}

.sidebar {
  background: #586577;
  height: 300px;
  width: 230px;
  position: absolute;
  right: 0px;
  box-shadow: -10px 10px 36px 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.5s;
  top: 69px;
  border-radius: 15px;
}
.triangle-up {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 24px solid #586577;
  position: absolute;
  transition: opacity 0.5s;
  opacity: 0;
  right: 32px;
  top: 45px;
}
