.sidebar {
  background: #39424e;
  width: 67px;
  height: 82vh;
  border-spacing: 0px;
  overflow-y: scroll;
  float: left;
  overflow-x: hidden;
  border-style: solid;
  box-sizing: border-box;
  border-width: 7.5px;
  border-color: white;
  border-left: 0;
  border-right: 0;
}

.logo {
  display: inline-block;
  float: none;

  margin-left: 0;
  width: 100%;
  align-items: center;
  z-index: 3;
  padding-bottom: 12px;
  padding-top: 12px;
}

.name {
  display: inline-block;
  vertical-align: middle;
}

.img1 {
  vertical-align: middle;
}

.timer {
  position: absolute;
  height: 40px;
  right: 40px;
  color: white;
  background: #39424e;
}
.logo_conti {
  position: relative;
  left: calc(50% - 140px);
  align-self: auto;
  width: 200px;
  float: left;
}

.qsno {
  display: table;

  height: 50px;

  color: white;

  padding: 0;

  border-style: solid;
  border-color: white;

  font-size: 1rem;
  width: 50px;
}
.qsno:hover {
  background: white;
}
.circle {
  margin: 12px;
  text-align: center;
  line-height: 24px;
  background: #39424e;
  width: 24px;
  height: 24px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  cursor: pointer;
}
.answindow {
  width: calc(100% - 67px);
  height: 82vh;
  background: grey;
  float: left;
  overflow-y: scroll;

  background: #f2f3f5;
}

.question {
  width: calc(100% - 55px);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.6em;
  outline: 0;
  padding: 5px;
  min-height: 44px;
  position: relative;
  float: left;
}
.question p {
  margin: 0;
  position: absolute;
  top: 50%;

  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.ques1 {
  padding: 6px;
  display: inline-flex;
  border: 2px;
  border-bottom: 0;
  border-style: solid;
  border-color: white;
  display: table;
  width: calc(100% - 16px);

  min-height: 50px;
}

.ques2 {
  cursor: pointer;
  padding: 6px;

  border: 2px;
  border-bottom: 0;
  border-style: solid;
  border-color: white;
  display: inline-flex;
  width: calc(100% - 16px);

  min-height: 50px;
  background: #9bc4bc;
}

.ques1:hover {
  background: #c7d3d1;
}

.ans1 {
  padding: 6px;
  display: none;
  background: white;
  width: calc(100% - 16px);

  border: 2px;
  border-style: solid;
  border-color: white;
  border-bottom: 0;
  height: 190px;
}

.answer {
  min-height: 150px;
  padding-top: 20px;
  padding-left: 20px;
  line-height: 1.5em;
  font-size: 1.3em;
}

.questionno1 {
  width: 14px;
  height: 14px;
  outline: 0;
  margin-top: 20px;
  margin-left: 13px;
  margin-right: 13px;
  margin-bottom: 20px;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: grey;
  cursor: pointer;
  background: white;
  display: block;
  float: left;
}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 19px;
  font-family: "Times New Roman", Times, serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #cdcfd3;
  border-radius: 50%;
  margin-top: 3.5px;
  margin-left: 3.5px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: rgb(133, 128, 128);
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #1c7c54;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 4px;
  left: 4px;
  width: 7px;
  height: 7px;

  border-radius: 50%;
  background: white;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 5px;
}

.submit {
  border-radius: 20px;
  margin-top: 20px;
  width: auto;
  padding: 6px 13px;
  padding-top: 8px;
  background-color: #d64256;
  width: 88px;
}
.resume {
  border-radius: 20px;
  margin-top: 20px;
  width: auto;
  padding: 6px 13px;
  background-color: #1c7c54;
  width: 93px;
}
.resume:hover {
  background: #5a9664;
}
button:focus {
  outline: 1;
}
.submit:hover {
  background-color: #e77a72;
}

.tick {
  font-size: 12px;
}

.review {
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 20px;
  width: auto;
  padding: 6px 13px;
  background-color: #434e8d;
  width: 88px;
}

.review:hover {
  background-color: #717dbe;
}

.red {
  height: 82vh;
}

.fsubmit {
  border-radius: 20px;
  margin-top: 12px;
  width: auto;
  padding: 6px 13px;
  background-color: white;
  color: #39424e;
  font-weight: bold;
  width: 97px;
  float: right;
  margin-right: 70px;
  font: bolder;
}
.fsubmit:hover {
  background: #d6cec6;
}
.alert {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  width: 600px;
  height: 250px;
  background: white;
  position: absolute;
  top: calc(50% - 125px);
  left: calc(50% - 300px);
  z-index: 1;
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  text-align: center;
}

.wholebody {
  opacity: 1;
  transition: opacity 0.3s;
}

.ins {
  display: inline-block;
  position: absolute;
  left: 13px;
  opacity: 0.9;
}
@media screen and (max-width: 810px) {
  .logo_conti {
    left: 0;
  }
  .timer {
    right: 10px;
    width: 150px;
  }
  .ins {
    display: none;
  }
}
