body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 15px;
  line-height: 1.7em;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

label {
  display: inline-block;
  width: 180px;
}

input[type="text"] {
  width: 97%;
  padding: 4px;
  border-radius: 5px;
  border: 1px #ccc solid;
}

input[type="number"] {
  width: 50px;
  padding: 4px;
  border-radius: 5px;
  border: 1px #ccc solid;
}

.container {
  width: 60%;
  margin: 0 auto;
  overflow: auto;
  background: #8d8d8b;

  padding: 20px;
}

header {
  border-bottom: 3px #272726 solid;
  background: #3a3a36;
  color: white;
}

a.add {
  display: inline-block;
  color: #666;
  background: #f4f4f4;
  border-left: 7px #272726 solid;
  padding: 6px 13px;
  position: right;
}

footer {
  border-top: 3px #272726 solid;
  background: #3a3a36;
  color: #bbbbb9;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

main {
  padding-bottom: 20px;
  background: #61615e;
  color: white;
}

a.start {
  display: inline-block;
  color: #000000;
  background: #99cc00;
  border-left: 7px #272726 solid;
  padding: 6px 13px;
}

.current {
  padding: 10px;
  background: #8d8d8b;
  border-left: 10px #272726 solid;
  margin: 20px 0 10px 0;
}

@media only screen and (max-width: 960px) {
  .container {
    width: 60%;
  }
}

.butto {
  margin-top: 5px;
  width: 100px;
  padding: 5px 5px;
  background: #1c7c54;
  border-radius: 50px;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  cursor: pointer;
}

.qsin {
  margin-bottom: 25px;
}

.opt {
  margin-top: 25px;
  margin-bottom: 25px;
}

select {
  cursor: pointer;
}
